body{
    font-family: Anton,sans-serif;
}

h1{
    font-size: 80px;
    font-weight: bold;
    letter-spacing: -4px;
    line-height: 75px;
    padding: 5px 5px 20px 5px;
    background-color: #ECEAE7;
}

hr{
    margin: 0;
}

.menu-nav{
    display: flex;
    flex-direction: column;
    
}

.menu-list{
    display: flex;
    flex-wrap: nowrap;
    justify-content: baseline;
    align-items: center;
    width: 100%;
    padding: 5px 0;
    margin: 0;
    gap: 30px;
}

.item-menu-list{
    display: flex;
    text-decoration: none;
    align-items: center;
    font-size: 18px;
    color: black;
    border: 0.5px solid #C9C8C5;
    height: 20px;
    padding: 6px 22px;
}

.item-menu-list:hover{
    color: #FFDD00;
    background-color: black;
    font-weight: bold;
}

.item-menu-button{
    display: flex;
    gap: 10px;
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    border: 0.5px solid #C9C8C5;
    padding: 6.8px 38px;
}

.item-menu-button:hover{
    color: #FFDD00;
    background-color: black;
    font-weight: bold;
}

.menu-banner{
    display: flex;
    font-size: 18px;
    font-weight: bold;
    border: 0.5px solid transparent;
    background-color: #FFDD00;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.menu-categorias{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
}

.frase-comprar{
    font-size: 40px;
    background-color: #ECEAE7;
    font-weight: bold;
    padding: 15px 5px;
}

.lista-categorias{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    margin: 0;
}

.item-categorias{
    display: flex;
    flex-wrap: nowrap;
    text-decoration: none;
    color: black;
    border: 0.5px solid black;
    align-items: center;
    font-size: 18px;
    height: 20px;
    padding: 6px 14px;
}

.item-categorias:hover{
    color: #FFDD00;
    background-color: black;
    font-weight: bold;
}

.display-produtos{
    display: flex;
}

.card-produto{
    display: flex;
    flex-direction: column-reverse;
    background-color: #ECEAE7;
    height: 300px;
    width: 230px;
    margin: 20px 10px;
}

.footer-card{
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    height: 90px;
}

.infos-card{
    background-color: transparent;
    height: 60px;
}

.nome-produto{
    color: black;
    font-size: 18px;
}

.acoes-card{
    display: flex;
    height: 40px;
}

.botao-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0.5px solid black; 
    color: black;   
    margin: 0;
    padding: 5px;
    height: 100%;
    width: 50%;

}

.botao-card:hover{ 
    color: #FFDD00;
    background-color: black;
    font-weight: bold;
}

.info-botao{
    color: black;
    text-decoration: none;
    justify-content: center;
    font-size: 14px;
    width: 100%;
}

.info-botao:hover{
    color: #FFDD00;
    background-color: black;
    font-weight: bold;
}

.logo-footer{
    font-size: 60px;
    font-weight: bold;
    letter-spacing: -4px;
    line-height: 50px;
    padding: 20px 5px 20px 5px;
    background-color: #ECEAE7;
}

.newsletter-convite{
    font-size: 20px;
    font-weight: bold;
    padding: 10px 5px 15px 5px;
}

.newsletter-inscricao{
    font-size: 20px;
    padding: 0 5px 5px 5px;
}

.formulario-estrutura{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    padding: 5px 5px 5px 5px;
}

.formulario-newsletter{
    font-size: 20px;
    font-weight: bold;
    padding: 5px 5px 10px 5px;
}

.formulario-campo{
    margin-bottom: 20px;
    padding: 5px;
}

.botao-envio{
    width: 100px;
    padding: 5px;
    background-color: #ebebeb;
    margin-bottom: 20px;
}

.botao-envio:hover{
    color: #FFDD00;
    background-color: black;
    font-weight: bold;
    margin-bottom: 20px;
}

.infos-footer{
    display: flex;
    flex-direction: column;
    padding: 5px 5px 10px 5px;
    background-color: #ECEAE7;
    
}

.itens-infos{
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
}

.footer-border{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 25px;
}

.footer-logo{
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.footer-copyright{
    font-size: 18px;
}